<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UED设计小报</title>

    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <style>
      .wrapper {
        border-bottom: 2px solid #409eff;
      }
      .el-radio-button:first-child .el-radio-button__inner {
        border-radius: 4px 0 0 0;
      }
      .el-radio-button:last-child .el-radio-button__inner {
        border-radius: 0 4px 0 0;
      }
    </style>
</head>
<body>
    <div id="app">
      <div class="wrapper">
          <el-radio-group v-model="radio1" @change="handleRadioChange">
            <el-radio-button v-for="catalog in catalogs" :label="catalog.id" :key="catalog.id">{{catalog.name}}</el-radio-button>
          </el-radio-group>
        </div>

      <!-- checkbox -->
      <!-- <template>
          <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
          <div style="margin: 15px 0;"></div>
          <el-checkbox-group v-model="checkedCatalogs" @change="handleCheckedCatalogsChange">
            <el-checkbox v-for="catalog in catalogs" :label="catalog.id" :key="catalog.id">{{catalog.name}}</el-checkbox>
          </el-checkbox-group>
        </template> -->
        
        <template>
          <p v-for="article, i in articles">
            <el-link type="primary" target="_blank" :href="article.link">{{articles.length - i}} : {{article.title}}</el-link>
          </p>
        </template>
    </div>
</body>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    const breakPoint = 700
    const articles = [
  {
    "title": "内测版豆瓣 FM 的切换歌曲",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/dx7cit#pHm3j",
    "weekly_slug": "dx7cit",
    "catalog": 0
  },
  {
    "title": "解锁手机交互的小游戏-Blackbox（仅iOS）",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/dx7cit#ltj71",
    "weekly_slug": "dx7cit",
    "catalog": 1
  },
  {
    "title": "Useless: 伦敦零浪费商店数字目录",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/dx7cit#YMQUH",
    "weekly_slug": "dx7cit",
    "catalog": 2
  },
  {
    "title": "《VR中的排版：研究和编写方法 | Typography in VR: study and compilation methodology》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/dx7cit#eDQnX",
    "weekly_slug": "dx7cit",
    "catalog": 3
  },
  {
    "title": "一加手机的「搬家」动画",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/io5ilw#pHm3j",
    "weekly_slug": "io5ilw",
    "catalog": 0
  },
  {
    "title": "拾取身边的色彩-色采",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/io5ilw#2iRLU",
    "weekly_slug": "io5ilw",
    "catalog": 1
  },
  {
    "title": "为2020东京奥运会参与国设计动漫形象",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/io5ilw#YMQUH",
    "weekly_slug": "io5ilw",
    "catalog": 2
  },
  {
    "title": "《一个全面&诚实的 UX 陈词滥调表| A comprehensive (and honest) list of UX clichés》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/io5ilw#eDQnX",
    "weekly_slug": "io5ilw",
    "catalog": 3
  },
  {
    "title": "Spotify的音乐分享码",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/lft9gb#pHm3j",
    "weekly_slug": "lft9gb",
    "catalog": 0
  },
  {
    "title": "无限纸张的创意笔记本 -「Flow由Moleskine呈现」",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/lft9gb#ltj71",
    "weekly_slug": "lft9gb",
    "catalog": 1
  },
  {
    "title": "《Uber Air 内部的样子 | This is what it looks like inside an Uber Air vehicle》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/lft9gb#YMQUH",
    "weekly_slug": "lft9gb",
    "catalog": 2
  },
  {
    "title": "《2019-2020 设计趋势 · 用户体验篇》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/lft9gb#eDQnX",
    "weekly_slug": "lft9gb",
    "catalog": 3
  },
  {
    "title": "小牛电动车的智能体检",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yy9r4z#pHm3j",
    "weekly_slug": "yy9r4z",
    "catalog": 0
  },
  {
    "title": "全新视角探索自由女神像-Statue of Liberty（仅 iOS）",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yy9r4z#ltj71",
    "weekly_slug": "yy9r4z",
    "catalog": 1
  },
  {
    "title": "《iOS 13 不只有深色模式，这 15+ 个新功能同样值得关注》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yy9r4z#YMQUH",
    "weekly_slug": "yy9r4z",
    "catalog": 2
  },
  {
    "title": "《深色模式的优缺点与注意事项 | Dark UIs. The Good and the Bad. Dos and Don’ts.》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yy9r4z#eDQnX",
    "weekly_slug": "yy9r4z",
    "catalog": 3
  },
  {
    "title": "KFC 雨天彩蛋菜单",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yo86h6#pHm3j",
    "weekly_slug": "yo86h6",
    "catalog": 0
  },
  {
    "title": "模拟世界顶级胶片的相机应用-最后一卷胶片（仅 iOS）",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yo86h6#ltj71",
    "weekly_slug": "yo86h6",
    "catalog": 1
  },
  {
    "title": "《Google 搜索结果页面有新变化，将比之前更加突出信息来源》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yo86h6#YMQUH",
    "weekly_slug": "yo86h6",
    "catalog": 2
  },
  {
    "title": "《麦肯锡设计调查：设计的商业价值》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yo86h6#eDQnX",
    "weekly_slug": "yo86h6",
    "catalog": 3
  },
  {
    "title": "「飞聊」的艺术二维码名片",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/pgl8rl#pHm3j",
    "weekly_slug": "pgl8rl",
    "catalog": 0
  },
  {
    "title": "「真·佛系」日本奈良大学佛像情绪识别器",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/pgl8rl#ltj71",
    "weekly_slug": "pgl8rl",
    "catalog": 1
  },
  {
    "title": "《在星巴克中国第一家手语店里，我们看见沟通方式可以多种多样》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/pgl8rl#YMQUH",
    "weekly_slug": "pgl8rl",
    "catalog": 2
  },
  {
    "title": "《Dieter Rams的十大优秀设计原则》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/pgl8rl#5Rmho",
    "weekly_slug": "pgl8rl",
    "catalog": 3
  },
  {
    "title": "LV×柔宇的柔性屏手袋",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/gnz50p#pHm3j",
    "weekly_slug": "gnz50p",
    "catalog": 0
  },
  {
    "title": "让你秒变雷神-Thunderly（仅 iOS）",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/gnz50p#ltj71",
    "weekly_slug": "gnz50p",
    "catalog": 1
  },
  {
    "title": "Google 新推出了一系列侧重移动端的广告产品",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/gnz50p#YMQUH",
    "weekly_slug": "gnz50p",
    "catalog": 2
  },
  {
    "title": "《为什么我不相信同理心 | Why I Don’t Believe in Empathic Design》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/gnz50p#eDQnX",
    "weekly_slug": "gnz50p",
    "catalog": 3
  },
  {
    "title": "滴滴打车推荐最佳出发地址",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/uug728#PcE4f",
    "weekly_slug": "uug728",
    "catalog": 0
  },
  {
    "title": "视障人士出行体验游戏-见",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/uug728#gHlUQ",
    "weekly_slug": "uug728",
    "catalog": 1
  },
  {
    "title": "《Google I/O 2019 开幕，这是首日发布会的四大亮点》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/uug728#Q4784",
    "weekly_slug": "uug728",
    "catalog": 2
  },
  {
    "title": "《设计交付物与演讲技巧之间的关系 | The relationship between design deliverables and presentation skills》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/uug728#HqE6K",
    "weekly_slug": "uug728",
    "catalog": 3
  },
  {
    "title": "「毒」3D看鞋功能",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/ugr6qe#HsXGR",
    "weekly_slug": "ugr6qe",
    "catalog": 0
  },
  {
    "title": "让你了解真实的世界-「美元街」",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/ugr6qe#0awiY",
    "weekly_slug": "ugr6qe",
    "catalog": 1
  },
  {
    "title": "《Google 发布小型芯片 Jacquard，想把所有物体都变成交互界面 | TED 2019 现场报道》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/ugr6qe#1nn4n",
    "weekly_slug": "ugr6qe",
    "catalog": 2
  },
  {
    "title": "《设计师的成长模型 | The Designer’s Growth Model》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/ugr6qe#9126c5fb",
    "weekly_slug": "ugr6qe",
    "catalog": 3
  },
  {
    "title": "隐喻现实的微信读书进度条",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/scvfw2#f413a0d5",
    "weekly_slug": "scvfw2",
    "catalog": 0
  },
  {
    "title": "与濒危动物亲密接触-WWF Together",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/scvfw2#250bf7ea",
    "weekly_slug": "scvfw2",
    "catalog": 1
  },
  {
    "title": "《包豪斯 100 周年：作为一种思维方式，它如何塑造了现代生活（上）》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/scvfw2#612469b6",
    "weekly_slug": "scvfw2",
    "catalog": 2
  },
  {
    "title": "《如何营造更友好的设计评审氛围 | The feedback you choose not to give is as important as the one you do》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/scvfw2#9f958537",
    "weekly_slug": "scvfw2",
    "catalog": 3
  },
  {
    "title": "泰晤士报（The Times）的结构化隐私弹窗",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/by6157#24f9b03f",
    "weekly_slug": "by6157",
    "catalog": 0
  },
  {
    "title": "让宇宙大爆炸重现在你的手上-Bigbang AR",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/by6157#3b6f21a0",
    "weekly_slug": "by6157",
    "catalog": 1
  },
  {
    "title": "《Apple News+ 能不能成为新闻业的 Netflix？这是我的一周使用体验》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/by6157#847b2af5",
    "weekly_slug": "by6157",
    "catalog": 2
  },
  {
    "title": "《如何简化你的设计 | How to simplify your design》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/by6157#1434cf85",
    "weekly_slug": "by6157",
    "catalog": 3
  },
  {
    "title": "IKEA Place 的对话式操作引导",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yzbe5z#8af1aabb",
    "weekly_slug": "yzbe5z",
    "catalog": 0
  },
  {
    "title": "上帝视角看时间- Vantage Calendar（仅iOS）",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yzbe5z#44b6b822",
    "weekly_slug": "yzbe5z",
    "catalog": 1
  },
  {
    "title": "《 iOS 12.2 更新：支持 Apple News+、新款 Animoji 以及更好的 Safari、AirPlay 体验》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yzbe5z#a135481f",
    "weekly_slug": "yzbe5z",
    "catalog": 2
  },
  {
    "title": "《用直觉平衡数据 | Balancing Data with Intuition》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yzbe5z#6dab91a0",
    "weekly_slug": "yzbe5z",
    "catalog": 3
  },
  {
    "title": "生动形象的健康杂志封面",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/gthnb5#16ef99b9",
    "weekly_slug": "gthnb5",
    "catalog": 0
  },
  {
    "title": "5秒变DJ -「pacemaker」",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/gthnb5#9ea90d51",
    "weekly_slug": "gthnb5",
    "catalog": 1
  },
  {
    "title": "Google 与 CERN、NASA 合作推出线上展览《Once Upon a Try》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/gthnb5#d55d6622",
    "weekly_slug": "gthnb5",
    "catalog": 2
  },
  {
    "title": "《如何在公司内实践 UX writing | How to make UX writing a thing in your org》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/gthnb5#d01bf83a",
    "weekly_slug": "gthnb5",
    "catalog": 3
  },
  {
    "title": "Monkey 用「表情包」让你同意授权",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/nurvmf#1d75a10e",
    "weekly_slug": "nurvmf",
    "catalog": 0
  },
  {
    "title": "会聊天的记账本-叨叨记账",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/nurvmf#92ac212a",
    "weekly_slug": "nurvmf",
    "catalog": 1
  },
  {
    "title": "2020年东京奥组委公布官方体育象形图",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/nurvmf#8f7d2387",
    "weekly_slug": "nurvmf",
    "catalog": 2
  },
  {
    "title": "《共情地图：进入用户头脑的指南 |  Empathy Mapping: A Guide to Getting Inside a User’s Head》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/nurvmf#c00dae89",
    "weekly_slug": "nurvmf",
    "catalog": 3
  },
  {
    "title": "采用镜书设计的防晒霜",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/go15gf#c0520cc9",
    "weekly_slug": "go15gf",
    "catalog": 0
  },
  {
    "title": "为照片注入生机-Enlight Pixaloop ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/go15gf#4cb85353",
    "weekly_slug": "go15gf",
    "catalog": 1
  },
  {
    "title": "《微信“我的购物单”改名好物圈，多了社交功能》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/go15gf#bd0eeabb",
    "weekly_slug": "go15gf",
    "catalog": 2
  },
  {
    "title": "《动效设计没那么难 | Motion Design Doesn’t Have to be Hard》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/go15gf#9e99733f",
    "weekly_slug": "go15gf",
    "catalog": 3
  },
  {
    "title": "DOV 的情感化设计",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/efruf7#215a6553",
    "weekly_slug": "efruf7",
    "catalog": 0
  },
  {
    "title": "AR 选指甲油-「Wanna Nails」& AR 试运动鞋-「Wanna Kicks」",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/efruf7#67fd844b",
    "weekly_slug": "efruf7",
    "catalog": 1
  },
  {
    "title": "《亚马逊和宝洁是如何合作创造更好的包装 | How Amazon and Procter & Gamble collaborated to create better packaging》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/efruf7#7f3ed396",
    "weekly_slug": "efruf7",
    "catalog": 2
  },
  {
    "title": "《Google的卓越设计原则 | Principles of Excellence》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/efruf7#90db53a5",
    "weekly_slug": "efruf7",
    "catalog": 3
  },
  {
    "title": "微博轮播GIF",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/bwokgk#99360abf",
    "weekly_slug": "bwokgk",
    "catalog": 0
  },
  {
    "title": "你的电影旅行指南-片场 ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/bwokgk#e068d2d7",
    "weekly_slug": "bwokgk",
    "catalog": 1
  },
  {
    "title": "《Twitter 开放对话式界面的测试申请 | Twitter opens applications for its ‘prototype’ program, first tests to focus on fixing conversations》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/bwokgk#c6d19565",
    "weekly_slug": "bwokgk",
    "catalog": 2
  },
  {
    "title": "《设计出更快更灵活的主页，为读者提供他们想要的信息 | A Faster and More Flexible Home Page that Delivers the News Readers Want》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/bwokgk#62d7175b",
    "weekly_slug": "bwokgk",
    "catalog": 3
  },
  {
    "title": "Couch Potato 的跨界营销",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/lq999o#15349342",
    "weekly_slug": "lq999o",
    "catalog": 0
  },
  {
    "title": "考考你的设计眼力-Can't Unsee",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/lq999o#ad352401",
    "weekly_slug": "lq999o",
    "catalog": 1
  },
  {
    "title": "《『美国春晚』上科技公司都打了哪些广告？》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/lq999o#e4fe40ea",
    "weekly_slug": "lq999o",
    "catalog": 2
  },
  {
    "title": "《Unboxing Chrome - Redesigning the omnibox》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/lq999o#276c1a79",
    "weekly_slug": "lq999o",
    "catalog": 3
  },
  {
    "title": "招商银行App-数位提示",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/pn3hox#5c7cf131",
    "weekly_slug": "pn3hox",
    "catalog": 0
  },
  {
    "title": "更高效地搜索与浏览-夸克浏览器",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/pn3hox#a71a7999",
    "weekly_slug": "pn3hox",
    "catalog": 1
  },
  {
    "title": "《10 Year Challenge: How Popular Websites Have Changed》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/pn3hox#760e1a8b",
    "weekly_slug": "pn3hox",
    "catalog": 2
  },
  {
    "title": "《Beyond the interface》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/pn3hox#ba2d5e3a",
    "weekly_slug": "pn3hox",
    "catalog": 3
  },
  {
    "title": "B站网页端-三连推荐",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/an45kh#7171378a",
    "weekly_slug": "an45kh",
    "catalog": 0
  },
  {
    "title": "MOO音乐 ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/an45kh#2eee8747",
    "weekly_slug": "an45kh",
    "catalog": 1
  },
  {
    "title": "36氪首发 | QuestMobile《中国移动互联网2018年度大报告》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/an45kh#deb810c6",
    "weekly_slug": "an45kh",
    "catalog": 2
  },
  {
    "title": "Google UX Playbook for Retail（谷歌设计建议指南-电商零售篇）",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/an45kh#771ce977",
    "weekly_slug": "an45kh",
    "catalog": 3
  },
  {
    "title": "微信的「字体设置」提示",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/zzpiet#143f6557",
    "weekly_slug": "zzpiet",
    "catalog": 0
  },
  {
    "title": "可视化的历史-The History of Everything",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/zzpiet#e84833ee",
    "weekly_slug": "zzpiet",
    "catalog": 1
  },
  {
    "title": "《关于微信的过去和未来，张小龙四小时演讲说的 35 件事》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/zzpiet#41e75100",
    "weekly_slug": "zzpiet",
    "catalog": 2
  },
  {
    "title": "《The New Driver App: Building a Better Co-pilot》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/zzpiet#0e855016",
    "weekly_slug": "zzpiet",
    "catalog": 3
  },
  {
    "title": "大众点评-分享赚现金音效",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/su87rg#55256cba",
    "weekly_slug": "su87rg",
    "catalog": 0
  },
  {
    "title": "效率-CC 助手（电脑应用）",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/su87rg#c97371d6",
    "weekly_slug": "su87rg",
    "catalog": 1
  },
  {
    "title": "CES 2019 有哪些看点，让人值得期待的产品和技术有哪些？",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/su87rg#c99b1d25",
    "weekly_slug": "su87rg",
    "catalog": 2
  },
  {
    "title": "硅谷产品大佬们写的书《Ship it》到底在讲什么？",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/su87rg#735ffa4d",
    "weekly_slug": "su87rg",
    "catalog": 3
  },
  {
    "title": "macOS搜索高亮",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/zmpq22#k67dxf",
    "weekly_slug": "zmpq22",
    "catalog": 0
  },
  {
    "title": "医疗-默沙东诊疗中文大众版 ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/zmpq22#39ytgr",
    "weekly_slug": "zmpq22",
    "catalog": 1
  },
  {
    "title": "《Nokia 9 preview: Everything we know so far》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/zmpq22#l39zeh",
    "weekly_slug": "zmpq22",
    "catalog": 2
  },
  {
    "title": "《Julie Zhuo谈设计师的职业成功之路》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/zmpq22#hslrso",
    "weekly_slug": "zmpq22",
    "catalog": 3
  },
  {
    "title": "豆瓣 App 推荐更适合分享的截屏",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/qw437f#arpsxn",
    "weekly_slug": "qw437f",
    "catalog": 0
  },
  {
    "title": "运动创造音乐-StepBeats ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/qw437f#2b1kxq",
    "weekly_slug": "qw437f",
    "catalog": 1
  },
  {
    "title": "《2018 Year in UX Design | UX Coffee》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/qw437f#2k4lxt",
    "weekly_slug": "qw437f",
    "catalog": 2
  },
  {
    "title": "《裂变式互动，让用户玩上瘾》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/qw437f#vwmbvr",
    "weekly_slug": "qw437f",
    "catalog": 3
  },
  {
    "title": "网易新闻长条广告",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/giw5sq#f6ekeg",
    "weekly_slug": "giw5sq",
    "catalog": 0
  },
  {
    "title": "语言学习-Drops ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/giw5sq#0ipmtr",
    "weekly_slug": "giw5sq",
    "catalog": 1
  },
  {
    "title": "《谷歌小姐姐搞出魔法画板：你随便画，补不齐算AI输》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/giw5sq#pwydwp",
    "weekly_slug": "giw5sq",
    "catalog": 2
  },
  {
    "title": "《UXdesign.cc：The State of UX in 2019》年度报告解读",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/giw5sq#0RztQ",
    "weekly_slug": "giw5sq",
    "catalog": 3
  },
  {
    "title": "微博切换「护眼模式」",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/ll6nzc#s636ga",
    "weekly_slug": "ll6nzc",
    "catalog": 0
  },
  {
    "title": "摄影-NOMO相机 ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/ll6nzc#8gbwbg",
    "weekly_slug": "ll6nzc",
    "catalog": 1
  },
  {
    "title": "2019流行色：PANTONE 16-1546 Living Coral 珊瑚红",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/ll6nzc#0ptuky",
    "weekly_slug": "ll6nzc",
    "catalog": 2
  },
  {
    "title": "用户体验中的“稀缺感”:成为常态的心理偏见",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/ll6nzc#oicdtu",
    "weekly_slug": "ll6nzc",
    "catalog": 3
  },
  {
    "title": "Twitter 输入框字符限制提示",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/kamcb1#pik2br",
    "weekly_slug": "kamcb1",
    "catalog": 0
  },
  {
    "title": "编程学习-Lrn ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/kamcb1#1lg7pf",
    "weekly_slug": "kamcb1",
    "catalog": 1
  },
  {
    "title": "《苹果和谷歌都评出了年度最佳 App，看看你错过了哪些？》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/kamcb1#ybl6us",
    "weekly_slug": "kamcb1",
    "catalog": 2
  },
  {
    "title": "《从已知探索未知的设计之道》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/kamcb1#4e6tgv",
    "weekly_slug": "kamcb1",
    "catalog": 3
  },
  {
    "title": "「豆瓣 FM」的可视化音乐地图",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/owa0hn#8lu1en",
    "weekly_slug": "owa0hn",
    "catalog": 0
  },
  {
    "title": "音频阅读-看理想",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/owa0hn#7agixh",
    "weekly_slug": "owa0hn",
    "catalog": 1
  },
  {
    "title": "苹果「人人能创造」中文版已上线",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/owa0hn#uygpub",
    "weekly_slug": "owa0hn",
    "catalog": 2
  },
  {
    "title": "以色盲用户为中心的UI设计",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/owa0hn#mk5adh",
    "weekly_slug": "owa0hn",
    "catalog": 3
  },
  {
    "title": "UC浏览器「选择推荐分类」",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yf0byg#8lu1en",
    "weekly_slug": "yf0byg",
    "catalog": 0
  },
  {
    "title": "社交-SpaceFM ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yf0byg#xewdgy",
    "weekly_slug": "yf0byg",
    "catalog": 1
  },
  {
    "title": "三星发布全新系统界面One UI",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yf0byg#cw3ucs",
    "weekly_slug": "yf0byg",
    "catalog": 2
  },
  {
    "title": "《淘宝首页2018：回归初心，化繁为简》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/yf0byg#inphkd",
    "weekly_slug": "yf0byg",
    "catalog": 3
  },
  {
    "title": "打动人心的评论框提示",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/glxf8w#qcalil",
    "weekly_slug": "glxf8w",
    "catalog": 0
  },
  {
    "title": "美食餐饮-KptnCook ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/glxf8w#4s0qca",
    "weekly_slug": "glxf8w",
    "catalog": 1
  },
  {
    "title": "为什么腾讯是蓝色的",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/glxf8w#b6gdwk",
    "weekly_slug": "glxf8w",
    "catalog": 2
  },
  {
    "title": "《淘宝商品详情信息重构：“搭积木”背后的设计思考》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/glxf8w#82fagg",
    "weekly_slug": "glxf8w",
    "catalog": 3
  },
  {
    "title": "Instagram 上可以看书",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/bexw5y#irnfeo",
    "weekly_slug": "bexw5y",
    "catalog": 0
  },
  {
    "title": "音乐创作-Cove ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/bexw5y#4s0qca",
    "weekly_slug": "bexw5y",
    "catalog": 1
  },
  {
    "title": "《快来找不同！肯德基（KFC）推出第七代新LOGO》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/bexw5y#b6gdwk",
    "weekly_slug": "bexw5y",
    "catalog": 2
  },
  {
    "title": "音频《斯金纳箱 - 游戏成瘾背后的行为主义心理学》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/bexw5y#di20ig",
    "weekly_slug": "bexw5y",
    "catalog": 3
  },
  {
    "title": "图片高度自适应",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/flb02q#7lmdsu",
    "weekly_slug": "flb02q",
    "catalog": 0
  },
  {
    "title": "对话式邮件 - Spike (原 Hop Emai）",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/flb02q#4s0qca",
    "weekly_slug": "flb02q",
    "catalog": 1
  },
  {
    "title": "寺庙主持获得 Good Design Award 2018 设计大奖",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/flb02q#kenohk",
    "weekly_slug": "flb02q",
    "catalog": 2
  },
  {
    "title": "《关于“用户下沉”相关思考》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/flb02q#sdkiaa",
    "weekly_slug": "flb02q",
    "catalog": 3
  },
  {
    "title": " macOS Mojave 的动态桌面，可不只是「定时换壁纸」这么简单",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/hfvgf7#m4uocp",
    "weekly_slug": "hfvgf7",
    "catalog": 0
  },
  {
    "title": "国外电商（美区）- Shop Spring ",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/hfvgf7#4s0qca",
    "weekly_slug": "hfvgf7",
    "catalog": 1
  },
  {
    "title": "Framer X 增加新功能「Page tool」",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/hfvgf7#ae5snq",
    "weekly_slug": "hfvgf7",
    "catalog": 2
  },
  {
    "title": "《真正的开学第一课，你怎么现在才来》",
    "link": "https://www.yuque.com/wanyanshaoxue/qx05nt/hfvgf7#sdkiaa",
    "weekly_slug": "hfvgf7",
    "catalog": 3
  }
]

    const weeklies = [ { id: 1811751, title: 'UED 周四设计小报#31', slug: 'lft9gb' },
    { id: 1790509, title: 'UED 周四设计小报#30', slug: 'yy9r4z' },
    { id: 1743344, title: 'UED 周四设计小报#29', slug: 'yo86h6' },
    { id: 1720685, title: 'UED 周四设计小报#28', slug: 'pgl8rl' },
    { id: 1663176, title: 'UED 周四设计小报#27', slug: 'gnz50p' },
    { id: 1592922, title: 'UED 周四设计小报#26', slug: 'uug728' },
    { id: 1542025, title: 'UED 周四设计小报#25', slug: 'ugr6qe' },
    { id: 1444412, title: 'UED 周四设计小报#24', slug: 'scvfw2' },
    { id: 1428455, title: 'UED 周四设计小报#23', slug: 'by6157' },
    { id: 1358698, title: 'UED 周四设计小报#22', slug: 'yzbe5z' },
    { id: 1329584, title: 'UED 周四设计小报#21', slug: 'gthnb5' },
    { id: 1319147, title: 'UED 周四设计小报#20', slug: 'nurvmf' },
    { id: 1292848, title: 'UED 周四设计小报#19', slug: 'go15gf' },
    { id: 1268628, title: 'UED 周四设计小报#18', slug: 'efruf7' },
    { id: 1249360, title: 'UED 周四设计小报#17', slug: 'bwokgk' },
    { id: 1205580, title: 'UED 周四设计小报#16', slug: 'lq999o' },
    { id: 1184534, title: 'UED 周四设计小报#15', slug: 'pn3hox' },
    { id: 1160999, title: 'UED 周四设计小报#14', slug: 'an45kh' },
    { id: 1131765, title: 'UED 周四设计小报#13', slug: 'zzpiet' },
    { id: 1118367, title: 'UED 周四设计小报#12', slug: 'su87rg' },
    { id: 1095652, title: 'UED 周四设计小报#11', slug: 'zmpq22' },
    { id: 1080526, title: 'UED 周四设计小报#10', slug: 'qw437f' },
    { id: 1059277, title: 'UED 周四设计小报#9', slug: 'giw5sq' },
    { id: 1041141, title: 'UED 周四设计小报#8', slug: 'll6nzc' },
    { id: 1020407, title: 'UED 周四设计小报#7', slug: 'kamcb1' },
    { id: 998564, title: 'UED 周四设计小报#6', slug: 'owa0hn' },
    { id: 979017, title: 'UED 周四设计小报#5', slug: 'yf0byg' },
    { id: 964511, title: 'UED 周四设计小报#4', slug: 'glxf8w' },
    { id: 943978, title: 'UED 周四设计小报#3', slug: 'bexw5y' },
    { id: 935570, title: 'UED 周四设计小报#2', slug: 'flb02q' },
    { id: 919231, title: 'UED 周四设计小报#1', slug: 'hfvgf7' } ]
    const miniCatalogs = [
      {
        id: 0,
        name: '💡',
      },
      {
        id: 1,
        name: '📱',
      },
      {
        id: 2,
        name: '📰',
      },
      {
        id: 3,
        name: '📖',
      },
    ]
    const catalogs = [
      {
        id: 0,
        name: '💡 一个设计亮点',
      },
      {
        id: 1,
        name: '📱 一个 App 推荐',
      },
      {
        id: 2,
        name: '📰 一条设计新闻',
      },
      {
        id: 3,
        name: '📖 一篇设计相关文章',
      },
    ]
    const catalogIDs = [0, 1, 2, 3]

    new Vue({
      el: '#app',
      data() {
        return {
          checkAll: true,
          checkedCatalogs: catalogIDs,
          catalogs,
          isIndeterminate: false,

          articles,

          radio1: '0',

          screenW: document.body.clientWidth,
        };
      },
      created() {
        window.addEventListener("resize", _.throttle(this.onResize, 500))
      },
      destroyed() {
        window.removeEventListener("resize", _.throttle(this.onResize, 500))
      },
      mounted() {
        this.articles = articles.filter(article => this.radio1 == article.catalog )

        this.onResize()
      },
      watch: {
        screenW: function(val) {
          if (val > breakPoint) {
            this.catalogs = catalogs
          } else {
            this.catalogs = miniCatalogs
          }
        }
      },
      methods: {
        onResize() {
          this.screenW = document.body.clientWidth
        },
        handleRadioChange(value) {
          console.log(value)

          this.articles = articles.filter(article => value == article.catalog )
        },
        handleCheckAllChange(val) {
          this.checkedCatalogs = val ? catalogIDs : [];
          this.isIndeterminate = false;
        },
        handleCheckedCatalogsChange(value) {
          console.log(value);

          let checkedCount = value.length;
          this.checkAll = checkedCount === this.catalogs.length;
          this.isIndeterminate = checkedCount > 0 && checkedCount < this.catalogs.length;

          this.articles = articles.filter(article => value.includes(article.catalog))
        }
      }
    }) 
  </script>
</html>